@model object
@{
    ViewData["Title"] = "Introduction";
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>


<header class="intro_header"></header>


<body class="body">
<div id="box">
    <p align="center">
        <iframe width="80%" height="500"
                src="https://www.youtube.com/embed/FHwegxx3r-A" frameborder="0" allowfullscreen>
        </iframe>
    </p>
    <br/>
    <div id="knapp_box" class="form-group">
        <a id="start_course" class=" btn-primary" asp-controller="Home" asp-action="ChooseLevel">Start Course </a>       
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div class="container" style="height: 200px;"></div>

</body>

</html>