@model IEnumerable<mabuddy.Models.Inbox>

@{
    ViewData["Title"] = "Outbox";
}

<html>
<body class="body">

<div id="MessageStyle" class="container shadow p-3 mb-5  rounded" style="margin: 0 auto; margin-top: 10px">
    <h1>Sent Messages</h1>
    <hr/>
    @foreach (var p in Model)
    {
        <partial name="_OutboxPartial", model="p"/>
    }

</div>
</body>

@section Scripts
{
    <script type="text/javascript" src="~/formulaeditor-1.1.35b/org/mathdox/formulaeditor/main.js"></script>
}

</html>